/*! Custom autocomplete rules
================================= */

.ui-autocomplete .ui-menu-item-wrapper {
    padding: 5px;
}

.ui-autocomplete .ui-state-active {
    background-color: #f2f2f2;
    color: #212121;
    border: 1px solid #f2f2f2;
}