/* Global
================================= */

body{background-color: white;}

.container#main, .container-fluid#main {margin-bottom: 4em;}

/* Typography
================================= */

p.lead {font-size: 24px;}
p.lead.sharing {font-size:initial;}
.link-list{line-height:1.8;list-style-type:none;margin:0 0 2em;padding:0;}
a,.link-list .heading a{color:#C44D34;}
.link-list .heading{font-weight:700;margin-bottom:10px;}
blockquote{color:#C44D34;font-size:21px;font-weight:300;line-height:1.4em;margin-bottom:20px;}
code{font-size:13px;}
h1,h2,h3,h4,h5{font-weight:300;color:#5f5d60;}
li,ul{color:#637073;font-size:14px;font-weight:200;line-height:1.6em;}
p{font-size: 14px;line-height: 1.6em;}
strong{color:#5f5d60;}
.nav-tabs > li > a { background-color: #f2f2f2; }
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus { background-color: white;}

/* ALA Header
================================= */

.navbar .navbar-inner {min-height: 50px;}
.navbar-inner  img.brand {max-height: 20px;margin-top: 2px;}
.navbar-inner a.brand {display: block;float: left;color: #f47a61;font-size: 16px;padding-right: 15px;font-weight:900;}
.navbar-inner ul.nav > li > a,.navbar-inner  a.brand {padding: 15px 10px;line-height: 20px;text-shadow: none;}
.navbar-inner  ul.dropdown-menu li a {padding: 3px 20px;}
.navbar-inner form {margin: 0; position: relative; left: 0; display: block; float: left;}
.navbar-inner form input {width: 172px;}
.navbar-inner form input, .navbar form .btn {margin-top: 10px;}
.navbar .btn-navbar {margin: 8px 15px;padding: 9px 10px;}

/* Scaffold
================================= */

.show-grid [class*="span"] {background-color:#eee;text-align:center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;min-height:40px;line-height:40px;}

/* Footer
================================= */
.ftr-container{background-color:#F2F2F2;}
.ftr-primary{margin-top: 50px;}
.ftr-secondary,.ftr-social{margin-top: 1em;margin-bottom: 4em;}
footer p.lead{color:#C44D34;}
footer p{font-size: 14px;line-height: 1.6em;}
.ftr-social{margin-bottom:20px;}
.ftr-social > div{padding:2em 0;}
ul.footer-nav.list-inline{padding-top:2px;}
footer.main-footer > div{padding-bottom:0;}
.soc-nav{margin-top: 8px;}
.ftr-primary ul > li > a{color: #637073;line-height: 1.8em;}

/* Metrics
================================= */

.progress{height: 6px;background: #e8e8e8;box-shadow: none;margin-top: 10px;}

/* Social Icons
================================= */

.social li > a {border-radius:50%;color:#fff;display:inline-block;height:35px;text-align:center;width:35px;}
.social li a .fa {font-size:15px;padding-top:0.65em;}

/* Social Icons: Background Colours & Hovers
================================= */

li .soc-envelope{background-color:#EF6C53;}
li .soc-envelope:hover{background-color:#DA644E;}
li .soc-facebook{background-color:#507CBE;}
li .soc-facebook:hover{background-color:#4B73AE;}
li .soc-google-plus{background-color:#4D4F54;}
li .soc-google-plus:hover{background-color:#494A4F;}
li .soc-twitter{background-color:#63CDF1;}
li .soc-twitter:hover{background-color:#5CBBDC;}

/* Images (img)
================================= */

/*#main > div > h2{margin:0 0 .8em;}*/
.panel-body img{margin:0 10px 10px 0;}
.secondary-footer img{margin-bottom:2em;}
img.aus-govt,img.ncris{max-width:200px;}
img.aus-govt{margin-top: 20px;}
img.gbif,img.csiro{max-width:180px;padding-top:13px;}
img.ncris{margin-top:8px;}

/* Bootstrap overrides to fix minor issues
================================= */
/*  Fix for BS white text in menu which is not readable on registration page */
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {color:#5f5d60;}

/* Media Queries (Mobile First Method = only add rules to modify larger views)
================================= */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    body{padding-right: 0;padding-left: 0;}
    .navbar .container{margin-left: 30px;}
    div.navbar.navbar-inverse.navbar-fixed-top > div > div{margin: 0 30px}
    #main{padding-right: 20px;padding-left: 20px;padding-top:5em;}
    img.aus-govt,img.ncris{max-width:150px;}
    .navbar-inner  a.brand { padding: 15px 7px; font-size: 14px;}
    .navbar .btn-navbar {margin: 8px 7px;}
    .navbar-inner ul.nav > li > a {padding: 5px;}
    .navbar-inner .container-fluid { padding-left: 0; padding-right: 0; }
    .help-text {margin-top: 1em;}
    p.lead {font-size: 16px;}
    .container-fluid.ftr-container{padding-right: 20px;padding-left: 20px;}
    img.aus-govt,img.gbif{padding-bottom: 20px;}
    .navbar-fixed-top .navbar-inner { padding: 0;}
    .navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0; left: 0;z-index: 1030;}
    .navbar-inner .nav-collapse.in.collapse .navbar-form .general-search { width: 170px; }
    #main div.pagination .step {display:none;}
    #main div.pagination .step:nth-child(-n+3), #main div.pagination .step:nth-last-child(2) {display:inline-block;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .navbar .container{margin-left: 30px;}
    #main{padding-right: 20px;padding-left: 20px; padding-top: 5em;}
    img.aus-govt,img.ncris{max-width:200px;}
    .navbar-inner ul.nav { margin: 0; }
    .navbar-inner ul.nav > li > a {padding: 5px;}
    .navbar-inner  a.brand { padding: 15px 10px; font-size: 16px;}
    .navbar-fixed-top .navbar-inner {padding: 0;}
    .container-fluid.ftr-container{padding-right: 20px;padding-left: 20px;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #main{ padding-top: 5em; padding-left:0; padding-right:0}
    .input-group.banner{padding-top:10em;}
    .navbar-inner ul.nav {margin: 0;}
    .navbar-inner ul.nav > li > a {padding: 10px;}
    p.lead {font-size: 24px;}
    #main div.pagination .step {display:inline-block;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #main{ padding-top:0;}
    .help-text {margin-top: 0;}
    .navbar-inner ul.nav > li > a {padding: 15px 10px;}
}

/* Large Devices, medium Screens */
@media only screen and (max-width : 1050px) {
    .navbar-inner form.navbar-form input.general-search { width: 120px; }
    .navbar-inner ul.nav > li > a {padding-top: 15px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .navbar-inner ul.nav > li > a {padding: 15px 15px;}
}

@media only print{
    .ftr-primary, .ftr-social, .ftr-secondary div:first-child, .ftr-secondary div:nth-child(2){
        display: none;
    }
}
