MYSQL_ROOT_PASSWORD=$SECRET_MYSQL_ROOT_PASSWORD
TZ=Europe/Stockholm
USER_STORE_DB=emmet
USER_STORE_DB_USERNAME=userstore
USER_STORE_DB_PASSWORD=$SECRET_MYSQL_PASSWORD
TICKET_REGISTRY_DB=casTicketRegistry
TICKET_REGISTRY_DB_USERNAME=ticket
TICKET_REGISTRY_DB_PASSWORD=$SECRET_MYSQL_PASSWORD
