MYSQL_ROOT_PASSWORD=$SECRET_MYSQL_ROOT_PASSWORD
TZ=Europe/Stockholm
MYSQL_DATABASE=collectory
MYSQL_USER=collectory
MYSQL_PASSWORD=$SECRET_MYSQL_PASSWORD
TOMCAT_HOST=collections.bioadiversitydata.se
TOMCAT_CONTEXT_NAME=ROOT
TOMCAT_CONTEXT_PATH=
API_KEY=
