TZ=Europe/Stockholm
MYSQL_ROOT_PASSWORD=$SECRET_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=$SECRET_MYSQL_PASSWORD
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=$SECRET_MYSQL_PASSWORD
WORDPRESS_DB_HOST=mysqldbwordpress:3306

